<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт газеты "Обо всём"</h1>
    <p>Выберите категорию сверху сайта, чтобы продолжить</p>
    @{
        if (Model)
        {
            <a class="btn btn-dark" href="~/Edit/UsersList">Список пользователей</a>    
        }
    }
</div>
